################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Practice/FileContentIndex/64e913a4-65a8-4a87-9bbb-28dcb6abb7ff.vsidx
